* {
  margin: 0;
}
.slide {
  margin-top: 10px;
}

.video iframe {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 70vh;
}

#texto-uno {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  letter-spacing: 0.5px;
}
h3 {
  letter-spacing: 1.5px;
}

.texto {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

.card .card-title {
  font-size: 30px;
  letter-spacing: 2px;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax {
  background-image: url(../imges/portada\ principal/ciervo.jpg);
  min-height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hover {
  opacity: 0;
}

.hover:hover {
  transition: background-color 0.5s;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  letter-spacing: 0.5px;
  color: rgb(7, 6, 6);
  opacity: 100;
  font-weight: 900;
  background-color: aliceblue;
}

.imp {
  min-height: max-content;
}

/* restablecer contraseña */
#login {
  display: block;
}
#reset {
  display: none;
}
#forget {
  display: block;
}
#back {
  display: none;
}
/* /restablecer contraseña */

/* noticias y entrada 1 */
.noticia_bgcolor {
  background-color: aliceblue;
}

.noticia_bg {
  background-image: url(../imges/BGNOTICIAS.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 30px 0px;
  height: 100px;
}

.contacto_bg {
  background-image: url(../imges/BGCONTACTOS.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 30px 0px;
  height: 100px;
}

.noticia_img {
  height: 125px;
}

.noticia_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_color {
  background-color: #283618;
  color: #fefae0;
}

.pinned {
  width: 30px;
  height: 30px;
}

.pag {
  background-color: #606c38 !important;
  color: aliceblue !important;
}

.pag_1 {
  color: aliceblue !important;
  background-color: #bc6c25 !important;
}

.form_entrada {
  overflow: hidden;
  border: none;
}

.form_entrada input {
  height: 40px;
}

.entrada_usuario {
  height: 50px;
  width: 50px;
  border-radius: 40px;
}

/*ENTRADA 1*/
.text_entrada {
  color: #dda15e;
}

.form {
  overflow: hidden;
}

.form input {
  padding-bottom: 50px;
  background: none;
}

.usuario {
  height: 75px;
  width: 75px;
  border-radius: 40px;
}

.subusuario {
  height: 60px;
  width: 60px;
  border-radius: 2rem;
}

.borde {
  border-bottom: gray solid 3px;
}

/* footer */
.footerBackground {
  background-color: #dda15e;
}
footer img {
  filter: opacity(0.4) drop-shadow(0 0 0 red);
}


.noticia_bgcolor{
  background-color: aliceblue;
}

.contacto_bg{
  background-image: url(../img/BGCONTACTOS.jpg);
  background-position: center;
  background-size: cover;
  width:100%;
  padding: 30px 0px;
  height: 100px;
}

.noticia_img{
  height: 125px;
}

.noticia_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pinned{
  width:30px;
  height:30px;
}

.form_entrada{
  overflow: hidden;
  border: none;
}

.form_entrada input{
  height: 40px;
}

.entrada_usuario{
  height: 50px;
  width: 50px;
  border-radius: 40px;
}
/*contacto*/
.ulcontact {
  list-style: none;
}
.icontact {
  color: rgba(11, 11, 206, 0.763);
}